body{
    background-color: black;
    color: white;
    padding: 20px;
}

figure img{
    width: 100%;
    height: 100%;
}

nav{
    width: 99%;
    margin: 0 auto;
    background-color: #000;
    position: fixed;
    padding-top: 50px;
    top: 0;
    z-index: 7;
}

main{
    margin-top: 100px;
}

::placeholder{
    color: white;
}

.toggle-switch{  
 height: 44px;
}

.toggle-switch p{
    height: 44px;
    line-height: 44px;
    margin: 0 10px;
    color: white;
}

.toggle-switch-label{
    width: 80px;
    height: 44px;
    border: 1px solid #4a148c;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

.toggle-switch-input:checked ~ label div{
    transform: translateX(36px);
}

.toggle-switch-label div{
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #4a148c;
    transition: 0.4s ease-in-out;
}
.col-lg-4{
    max-width: 30%;
    margin-right: 10px;
}

.search{
    border: 0;
    border-bottom: 2px solid #4a148c;
    border-radius: 4px;
    color: white;
    background-color: black;
    padding: 4px;
}


.work-order{
    background: linear-gradient(
        to bottom right,#4a148c, #4a148c 20%, #12005e
    );
    color: white;
    width: 24%;
}

.work-order figure{
    max-width: 80px;
    max-height: 80px;
    border: 4px solid white;
    border-radius: 4px;
    margin: 0 auto;
}

main p{
    margin: 0;
}

.loading{
    border: 10px dotted #12005e;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    transform: rotate(360deg);
    margin: 20% auto;
    animation: load 2s infinite alternate ease-in-out;
}

.blur{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 14;
    background-color: black;
}
@keyframes load{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg); border: 4px dotted #fff; border: 4px dotted rgba(255, 255, 255, 0.7);}
}

@media screen and (max-width: 1200px) { 
    .work-order{
        width: 30%;
    }
}

@media screen and (max-width: 992px) { 
    .work-order{
        width: 48%;
    }
}

@media screen and (max-width: 768px) { 
    .work-order{
        width: 100%;
    }
    main{
        margin-top: 160px;
    }
}
